<div class="row">
    <div class="row">
        <div class="col-xs-12 mb10"><h4>签到统计:</h4></div>
        <div class="col-xs-6" id="chart_signin_status" style="height: 300px;"></div>
        <div class="col-xs-6" id="chart_signin_type" style="height: 300px;"></div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
        <div class="item">
            <div class="item-header">签到名单
            </div>
            <div class="item-content item-pd0">
                <div class="">
                    <form id="signup_user_list_form" method="post">
                    <table class="table table-hover">
                        <thead>
                        <tr class="functionbar">
                            <td colspan="8">
                                <div class="list-btn-group">
                                    <div class="inputinline pull-left">
                                        <div class="input-group">
                                            <input type="text" name="search" id="search" class="form-control" placeholder="请输入姓名或电话"
                                                   onkeypress="press_target(event, 'btn_search');"
                                                   value="<?php echo $keyword = urldecode($_GET['keyword']); ?>" />
                                            <a class="input-group-addon btn-default" id="btn_search" href="javascript:void(0);"><i class="fa fa-search"></i></a>
                                            <a class="input-group-addon btn-default" id="btn_search_reset" href="javascript:void(0);" style="display: none;">重置</a>
                                        </div>
                                    </div>
                                        <button id="export" type="button" class="btn btn-success pull-right radius0"><i class="fa fa-download"></i> 导出全部</button>
                                </div>

                            </td>
                        </tr>
                        <tr class="tr-bgcolor">
                           
                            <td class="width70" style="text-align: left; padding-left: 21px;">
                                <input type="checkbox" id="ckall">
                            </td>
                            <td>编号</td>
                            <td>姓名</td>
                            <td>电话</td>
                            <td>
                                
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle dropdown-mybtn" type="button" id="ticketmenu" data-toggle="dropdown">
                                        全部票务 <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="ym_filter dropdown-menu radius0" role="menu" aria-labelledby="ticketmenu">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="t" v="all">全部票务</a></li>
                                        <?php foreach($tickets as $k => $t): ?>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="t" v="<?php echo $t['guid']?>">
                                                    <?php echo $t['name']?>
                                                </a>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </td>
                            <!-- <td> -->
                                
                                <!-- <div class="dropdown">
                                    <button class="btn dropdown-toggle dropdown-mybtn" type="button" id="sourcetmenu" data-toggle="dropdown">
                                        全部人员来源 <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="ym_filter dropdown-menu radius0" role="menu" aria-labelledby="sourcetmenu">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="f" v="all">全部</a>
                                        </li>
                                        <?php// foreach(C('ACTIVITY_SIGNUP_FROM') as $k => $v): ?>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="f" v="<?php// echo $k?>">
                                                    <?php// echo $v; ?>
                                                </a>
                                            </li>
                                        <?php// endforeach; ?>
                                    </ul>
                                </div> -->
                            <!-- </td> -->
                            <td>
                                
                                <div class="dropdown">
                                <button class="btn dropdown-toggle dropdown-mybtn ml12" type="button" id="statemenu" data-toggle="dropdown">
                                    签到状态 <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="ym_filter dropdown-menu radius0" role="menu" aria-labelledby="statemenu">
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="s" v="all">全部</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="s" v="u4">已签到</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="s" v="no">未签到</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="s" v="i1">扫码签到</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="s" v="i2">手动签到</a></li>
                                    <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" k="s" v="i3">现场报名</a></li>
                                </ul>
                            </div>
                            </td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody id="user_list_body">
                                <?php if(empty($user_list)): ?>
                                <tr class="sigin-in-other-bg"><td colspan="8">暂无人员报名</td></tr>
                                <?php else: ?>
                                <?php $i=1; foreach($user_list as $l): ?>
                                    <tr class="sigin-in-other-bg">
                                        <td class="checkbox-align"><input name="ck[]" type="checkbox" value="<?php echo $l['user_guid']?>" class="ck"></td>
                                        <td><?php echo $i; $i++; ?></td>

                                        <!-- <td><a href="<?php //echo U('Signin/signup_userdetail', array('uid' => $l['guid']))?>" data-toggle="tooltip" data-placement="top" title="查看详细资料"><?php //echo $l['real_name']; ?></a></td> -->
                                        <td><?php echo $l['real_name']; ?></td>
                                        <td><?php echo $l['mobile']; ?></td>
                                        <td><?php echo $l['ticket']['ticket_guid'] == 'nolimit' ? '' : $l['ticket']['ticket_name'];?></td>
                                        <!-- <td><?php //echo $l['from']?></td> -->
                                        <td><<?php echo $l['ticket']['ticket_status_tag']?>><?php echo $l['ticket']['ticket_status']?></<?php echo $l['ticket']['ticket_status_tag']?>></td>

                                         <!-- Modal -->
                                        <div class="modal fade" id="myModal<?php echo $l['guid']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">详细资料</h4>
                                              </div>
                                              <div class="modal-body">

                                                                                <?php  foreach($l['other'] as $key => $o): ?>
                                                                                    <!--<?php if($o['userinfo_guid'] ==$l['guid']): ?>-->
                                                                                     <strong><?php echo $o['key']; ?>：</strong><?php echo $o['value']; ?><br>
                                                                                    <!--<?php endif; ?>-->
                                                                                <?php endforeach; ?>
                                                                           
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    <td>
                                    <a   class="detailslayer" data-toggle="modal" data-target="#myModal<?php echo $l['guid']?>">
                                      <i class="fa fa-info-circle fa-lg"></i>
                                    </a>
                                    </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8"  style="margin-left: 7px;">
                                    <?php echo $page;?>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>
<import type='js' file="common.echart.echarts-all" />
<script type="text/javascript">
// 签到状况统计
    var chart_signin_status = echarts.init(document.getElementById('chart_signin_status'));
    var option_chart_signin_status = {
        title : {
            text: '签到状况统计',
            subtext: '总人数为: <?php echo $status_statistic['total']; ?>',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            data:['已签到','未签到']
        },
        toolbox: {
            show : true,
            feature : {
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'签到状况',
                type:'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    <?php foreach($status_statistic['data'] as $d): ?>
                    {value:<?php echo $d['value'] ?>, name:'<?php echo $d['name'] ?>'},
                    <?php endforeach; ?>
                ]
            }
        ]
    };
    chart_signin_status.setOption(option_chart_signin_status);

    // 签到方式统计
    var chart_signin_type = echarts.init(document.getElementById('chart_signin_type'));
    var option_chart_signin_type = {
        title : {
            text: '签到方式统计',
            subtext: '总人数为: <?php echo $status_statistic['data'][1]['value']; ?>',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient : 'vertical',
            x : 'left',
            data:['扫码签到','手动签到', '现场报名']
        },
        toolbox: {
            show : true,
            feature : {
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'签到方式',
                type:'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    <?php $types = C('ACTIVITY_TICKET_SIGNIN_STATUS');
                        foreach($type_statistic as $d):
                     ?>
                    {value:<?php echo $d['sum'] ?>, name:'<?php echo $types[$d['signin_status']]; ?>'},
                    <?php endforeach; ?>
                ]
            }
        ]
    };
    chart_signin_type.setOption(option_chart_signin_type);
$(document).ready(function(){

        $('#ckall').on('change', function () {
            $("input.ck").prop('checked', $(this).prop("checked"));
        });

        $('.detailslayer').popover({
          //  content: '<div class="layer">'
          // +'<div class="pull-left">'
          // +'<p><strong>年龄：</strong><?php echo $l['real_name']; ?><br><strong>性别：</strong><?php echo $l['mobile']; ?><br></p>'
          // +'</div>',
           html: true,
           placement: 'left',
           trigger: 'hover'
        });

        // /**
        //  * 导出
        //  */
        // $('#export').click(function(){
        //     var num_person = $('input.ck:checked').length;
        //     if(num_person < 1) {
        //         alertTips($('#tips-modal'), '选择要操作的用户.');
        //         return false;
        //     }

        //     $('form#signup_user_list_form').attr('action', '<?php echo U('Signin/signup_export', array('aid' => $activity_info['guid'])) ?>');
        //     $('form#signup_user_list_form').submit();
        //     return false;
        // });
        /**
         * 导出
         */
        $('#export').click(function(){
            <?php if(empty($user_list)):?>
                alert('无导出数据');
            return false;
            <?php endif;?>
            var num_person = $('input.ck:checked').length;
            if (num_person < 1) {
                if(!confirm('确定要导出所有数据吗？')){
                    return false;
                }
            } else {
                if(!confirm('确定要导出已选数据吗？')){
                    return false;
                }
            }

            $('form#signup_user_list_form').attr('action', '<?php echo U('Signin/signup_export', array('aid' => $activity_info['guid'])) ?>');
            $('form#signup_user_list_form').submit();
            return false;
        });
});     

var show_resend = false;
</script>
<include file="Public:modal" />
<?php $user_list_url = U('Signin/ajax_signup_user_next_page', array('aid' => $activity_info['guid']));?>
<include file="Public/_signup_userlist_js" />
