<div class="page-header">
   <h3><strong>账号绑定</strong></h3>
</div>
<div class="bordered">
    <div class="row">
        <div class="col-md-2">
            <img src="images/y_weibo.png">
        </div>
        <div class="col-md-2">
            <a href="##">绑定新浪微博账号</a>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 同步我的活动参与信息到我的平台
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="images/weixin.png">
        </div>
        <div class="col-md-2">
            <a href="##">绑定微信账号</a>
        </div>
        <div class="col-md-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 同步我的活动参与信息到我的平台
                </label>
            </div>
        </div>
    </div>
</div>