.mailAutoTip {
  display: none;
  position: absolute;
  margin-top: 40px;
  padding: 10px;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  z-index: 100;
}
#MailAutoTip ul {
  list-style: none;
  margin-left: 10px;
  padding: 0;
}
#MailAutoTip li {
  height: 24px;
  margin: 0;
  line-height: 24px;
}
 
#MailAutoTip li a {
  display: block;
  overflow: hidden;
  min-width: 170px;
  color: #333;
}

/*#MailAutoTip li a:hover,*/
#MailAutoTip li a:focus,
#MailAutoTip li a:active,
#MailAutoTip li a.active,
#MailAutoTip li.on a,
.mailAutoTip li.on a {
  background: none repeat scroll 0 0 #00388a;
  color: #fff;
  text-decoration: none
} 