/*帮助文档*/
body {
  position: relative;
}
.main { background-color: #f5f5f5;}
.document-top {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.document-top a { font-size: 16px; color: #008cff;}
.document-top i { font-size: 24px; vertical-align: -3px;}
.document a:hover,
.document a:focus { color: #0079dd;}
.document:focus,
.document.active a,
.document.active a:hover,
.document.active a:focus {background-color: #eee; color: #0079dd;}

.table { 
  margin-bottom: 0;
  padding: 15px 20px; 
  background-color: #fff;
}
.table h3 { color: #000;}
.doc_content { padding: 5px 10px;}
.table img {max-width: 100%;}
.table a { color: #008cff;}
.table a:hover,
.table a:focus { color: #0079dd; text-decoration: underline;}
/****************************左侧样式****************************/
.docs-sidebar.affix{ position:fixed;top:50px;width:213px;}
.docs-sidenav{ margin-top:20px;}
.docs-sidebar .nav>li>a{ 
  display:block;
  margin-bottom: 5px;
  padding:4px 10px;
  background-color:#f5f5f5;
  font-weight:500;
  color:#767676;
  border: 1px solid #ddd;
}
.docs-sidebar .nav>li>a:focus,
.docs-sidebar .nav>li>a:hover{ 
  padding-left:10px;
  background-color:transparent;
  color:#0079dd;
  text-decoration:none;
}
.docs-sidebar .nav>.active:focus>a,
.docs-sidebar .nav>.active:hover>a,
.docs-sidebar .nav>.active>a{
  padding-left:8px;
  background-color:#fff;
  font-weight:700;
  color:#0079dd;
  border-left:2px solid #0079dd;
}
.docs-sidebar .nav .nav{display:none;padding-bottom:5px;}
.docs-sidebar .nav .nav>li>a{
  margin-left: 15px;
  padding:3px 0 3px 10px;
  font-size:13px;
  font-weight:400; 
  border: 0;
}
.docs-sidebar .nav .nav>.active:focus>a,
.docs-sidebar .nav .nav>.active:hover>a,
.docs-sidebar .nav .nav>.active>a{ padding-left:10px; background-color: #f5f5f5; font-weight:500;border-left: 2px solid #0079dd;}
.back-to-top{ display:block;margin-top:10px;margin-left:10px;padding:4px 10px;font-weight:500;color:#999;}
.back-to-top:hover{ color:#0079dd;text-decoration:none;}
.docs-sidebar .nav>.active>ul{ display:block;}
.docs-sidebar.affix .docs-sidenav{ margin-top:0;margin-bottom:0;}

/*个人中心帮助中心专用*/
.help-footer{  color: #999;  margin: 20px 0;}
.pl10{
    padding-left: 10px;
}