.head-img { background-image: url(../images/top2.jpg);}
.dl-instructions { text-align: center;}
.dl-instructions > div { margin-bottom: 50px;}
.dl-instructions > div:last-child { margin-bottom: 15px;}
.dl-instructions > div > div { border-bottom: 1px solid #ff9817;}
.dl-instructions h2 { margin-bottom: 40px; color: #000;}
.dl-instructions p { margin-bottom: 40px; font-size: 16px; color: #888;}
.dl-instructions p.maxwidth80 {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
.dl-instructions p.maxwidth60 {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}
.dl-instructions img { max-width: 100%;}
@media (min-width: 768px) { .dl-instructions h2 { font-size: 30px;}}
@media (min-width: 1200px) { .dl-instructions h2 { font-size: 36px;}}
@media (min-width: 1600px) { .dl-instructions h2 { font-size: 42px;}}
.btn-download-text p {
  margin-top: 10px;
  color: #888;
}
.btn-download-lg {
  color: #555;
  background-color: #fff;
  border-color: #c8ccd3;
}
.btn-download-lg:hover,
.btn-download-lg:focus{
  color: #ff9817;
  background-color: #fff;
  border-color: #ff9817;
}
.btn-download-lg span { color: #888;}
.btn-download-lg:hover span,
.btn-download-lg:focus span { color: #ff9817;}
.btn-download-lg:active,
.btn-download-lg.active{
  color: #fff;
  background-color: #ff9817;
  border-color: #ff9817;
  background-image: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.btn-download-lg:active span { color: #fff;}