{__NOLAYOUT__}
<div class="modal-dialog">
  <form class="form-horizontal modal-required" method="post" data-href="<?php echo U('Home/Act/ticket_edit', array('guid' => $ticket['guid']));?>">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="export-import"><strong>票务修改</strong></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="ticket-name" class="col-sm-3 control-label"><span>* </span>票名：</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="ticket-name" name="name" value="<?php echo htmlspecialchars($ticket['name']);?>" placeholder="票名应不超过10个字">
          </div>
        </div>
        <div class="form-group">
          <label for="ticket-number" class="col-sm-3 control-label"><span>* </span>票数：</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="ticket-number" name="num"  value="<?php echo intval($ticket['num']);?>" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="ticket-number" class="col-sm-3 control-label">价格：</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="price" name="price" value="免费" disabled placeholder="">
          </div>
        </div>

<!--        <div class="form-group">-->
<!--          <label for="ticket-audit1" class="col-sm-3 control-label">是否审核：</label>-->
<!--          <div class="col-sm-7">-->
<!--            <label class="radio-inline">-->
<!--              <input type="radio" name="is_need_verify" id="ticket-audit1" --><?php //echo $ticket['is_need_verify'] ? 'checked' : '';?><!--  value="1">是-->
<!--            </label>-->
<!--            <label class="radio-inline">-->
<!--              <input type="radio" name="is_need_verify" id="ticket-audit2" --><?php //echo !$ticket['is_need_verify'] ? 'checked' : '';?><!--  value="0">否-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
        <div class="form-group">
          <label for="prstartTime" class="col-sm-3 control-label">售票时间</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" data-field="datetime" id="prstartTime" name="start_time" value="<?php echo $ticket['start_time'] ? date('Y-m-d H:i', $ticket['start_time']) : '';?>" readonly="readonly">
          </div>
          <div class="pull-left mt5">至</div>
          <div class="col-sm-4">
            <input type="text" class="form-control" data-field="datetime" id="prendTime" name="end_time" value="<?php echo $ticket['end_time'] ? date('Y-m-d H:i', $ticket['end_time']) : '';?>" readonly="readonly">
          </div>
          <div class="col-sm-9 col-sm-offset-3">
            <p class="prompt">默认为活动发布到活动结束</p>
          </div>
        </div>
        <div class="form-group">
          <label for="ticket-content" class="col-sm-3 control-label">票券说明：</label>
          <div class="col-sm-7">
            <textarea class="form-control"  id="ticket-content" name="desc" rows="4"><?php echo htmlspecialchars($ticket['desc']);?></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-save">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </form>
</div>
