 <!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>功能介绍</title>
    <?php echo C('MEDIA_CSS.BOOTSTRAP'); ?>
    <import type='css' file="mobile.css.aboutus" />
</head>
 <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 introduction">
          <h5>会签助手功能介绍:</h5>
          <?php if($type == 1):?>
          <h5>1.社团活动发布：</h5>
          <p>社团通过PC端后台在线发布文章、投票、报名、问卷各形式活动与线下票务在线发放。</p>
          <h5>2.线下活动服务：</h5>
          <p>活动现场票务审签、到场人员标签化处理。</p>
          <h5>3.社团成员在线交流：</h5>
          <p>社团成员可在线，与好友进行文字、图片、语音等形式交流。亦可在线创建群组，要求多名好友进行文字图片、语音等形式交流。</p>
          <h5>4.社团成员人脉拓展功能：</h5>
          <p>社团成员可通过社团为依托背景，查看到所在社团所有成员，同时可根据相同社团数量、兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，建立个人社团好友圈。
          社团成员可通过好友为依托背景，扩展二度人脉社交圈。并结合兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，迅速扩展个人交际圈。
          社团成员在参加时，可在活动现场查看到，同时参加活动的全部人员。并结合兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，迅速在活动现场打开个人交际突破口。</p>
          <h5>5.社团活动信息推送功能：</h5>
          <p>社团发布活动后，社团成员将会收到先关信息提示；信息提示中将会显示活动时间、活动地点、活动代号、活动相关内容简介。活动地点提示，分为文字提示与电子地图导航。</p>
          <h5>6.足迹查询功能：</h5>
          <p>社团成员可根据个人需求，选择是否开放个人足迹记录。社团成员可选择开放个人足迹记录好友，查询其个人足迹记录，寻找更多交际话题点，进一步加深双方关系。</p>
          <h5>7.实名认证加V系统：</h5>
          <p>社团成员在进入会签助手移动端后，可选择进行个人实名认证。</p>
          <?php endif;?>
          <?php if($type == 2):?>
          <h5>1.社团活动发布：</h5>
          <p>社团通过PC端后台在线发布文章、投票、报名、问卷各形式活动与线下票务在线发放。</p>
          <h5>2.线下活动服务：</h5>
          <p>活动现场票务审签、到场人员标签化处理。</p>
          <h5>3.社团成员在线交流：</h5>
          <p>社团成员可在线，与好友进行文字、图片、语音等形式交流。亦可在线创建群组，要求多名好友进行文字图片、语音等形式交流。</p>
          <h5>4.社团成员人脉拓展功能：</h5>
          <p>社团成员可通过社团为依托背景，查看到所在社团所有成员，同时可根据相同社团数量、兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，建立个人社团好友圈。
          社团成员可通过好友为依托背景，扩展二度人脉社交圈。并结合兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，迅速扩展个人交际圈。
          社团成员在参加时，可在活动现场查看到，同时参加活动的全部人员。并结合兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，迅速在活动现场打开个人交际突破口。</p>
          <h5>5.社团活动信息推送功能：</h5>
          <p>社团发布活动后，社团成员将会收到先关信息提示；信息提示中将会显示活动时间、活动地点、活动代号、活动相关内容简介。活动地点提示，分为文字提示与电子地图导航。</p>
          <h5>6.足迹查询功能：</h5>
          <p>社团成员可根据个人需求，选择是否开放个人足迹记录。社团成员可选择开放个人足迹记录好友，查询其个人足迹记录，寻找更多交际话题点，进一步加深双方关系。</p>
          <h5>7.实名认证加V系统：</h5>
          <p>社团成员在进入会签助手移动端后，可选择进行个人实名认证。</p>
          <?php endif;?>
          <?php if($type == 3):?>
          <h5>1.社团活动发布：</h5>
          <p>社团通过PC端后台在线发布文章、投票、报名、问卷各形式活动与线下票务在线发放。</p>
          <h5>2.线下活动服务：</h5>
          <p>活动现场票务审签、到场人员标签化处理。</p>
          <h5>3.社团成员在线交流：</h5>
          <p>社团成员可在线，与好友进行文字、图片、语音等形式交流。亦可在线创建群组，要求多名好友进行文字图片、语音等形式交流。</p>
          <h5>4.社团成员人脉拓展功能：</h5>
          <p>社团成员可通过社团为依托背景，查看到所在社团所有成员，同时可根据相同社团数量、兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，建立个人社团好友圈。
          社团成员可通过好友为依托背景，扩展二度人脉社交圈。并结合兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，迅速扩展个人交际圈。
          社团成员在参加时，可在活动现场查看到，同时参加活动的全部人员。并结合兴趣爱好点、从事行业、所在地区、教育经历等人脉交集点，迅速在活动现场打开个人交际突破口。</p>
          <h5>5.社团活动信息推送功能：</h5>
          <p>社团发布活动后，社团成员将会收到先关信息提示；信息提示中将会显示活动时间、活动地点、活动代号、活动相关内容简介。活动地点提示，分为文字提示与电子地图导航。</p>
          <h5>6.足迹查询功能：</h5>
          <p>社团成员可根据个人需求，选择是否开放个人足迹记录。社团成员可选择开放个人足迹记录好友，查询其个人足迹记录，寻找更多交际话题点，进一步加深双方关系。</p>
          <h5>7.实名认证加V系统：</h5>
          <p>社团成员在进入会签助手移动端后，可选择进行个人实名认证。</p>
          <?php endif;?>
        </div>
      </div>
    </div>
  </body>