<!DOCTYPE html>
<html lang="zh-cn">
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>常见问题</title>
    <?php echo C('MEDIA_CSS.BOOTSTRAP'); ?>
    <import type='css' file="mobile.css.aboutus" />
</head>
<body>
    <div class="container" style="margin-top:5px;">
      <div class="row problem">
      <form id="form" action="<?php echo U('About/problems')?>" method="post"> 
          <div class="col-xs-7">
              <input type="text" class="form-control" name ="que" id="que" value="" placeholder="请描述你的问题">
          </div>
          <div class="col-xs-5">
            <div class="row">
            <button type="submit" id= "submit" class="btn btn-success ">搜索</button>  
            <button class="btn btn-success ">重置</button> 
          </div>
          </div>
          
      </form>
      </div>
      <div class="row aboutus" id="list"style="margin-top:5px;">
        <?php foreach($article_info as $k=>$val):?>
           <a href="<?php echo U('About/question', array('guid'=>$val['guid']))?>"><?php echo $val['title'];?><i></i></a>
        <?php endforeach;?>
      </div>
  </div>
</body>
