{__NOLAYOUT__}
<layout name="layout_email" />
<p style="margin-top:0;margin-bottom:5px;font-weight:bold;"><?php echo $orgData['name']?>社团：</p>
<p style="margin-top:0;margin-bottom:5px;padding-left: 25px; color:#999;">
    <?php echo $content;?>
<div style="padding: 10px 0;border-top: 1px solid #e7e7e7;">
    <p style="margin:0 0 5px 25px;margin-bottom:5px;color:#999;">请扫描或点击以下二维码下载酷客会签：</p>
    <div style="position: relative;float: left;width: 270px;text-align: center;">
        <img width="120" src="<?php echo C('SITE_HOST_URL')?>/Public/site/images/android-dl.png">
        <a style="display: block; color: #0070cd;" href="<?php echo C('DOWNLOAD_ANDROID')?>">Android版</a>
    </div>
    <div style="position: relative;float: left;width: 230px;text-align: center;">
        <img width="120" src="<?php echo C('SITE_HOST_URL')?>/Public/site/images/ios-dl.png">
        <a style="display: block; color: #0070cd;" href="<?php echo C('DOWNLOAD_IOS')?>">IOS版</a>
    </div>
    <div style="clear:both; height:0;"></div>
    <p style="margin:0 0 5px 25px;margin-bottom:5px;color:#999;">注：系统Android 4.0以上 / ios 7以上</p>
</div>
<div style="padding-top: 10px; border-top: 1px solid #e7e7e7;">
    <p style="margin-top:0;margin-bottom:5px;font-weight:bold;">联系方式</p>
    <p style="margin-top:0;margin-bottom:5px;padding-left: 25px; color:#999;">
        电话：<?php echo C('SERVICE_TEL'); ?><br>
        QQ：<?php echo C('SERVICE_QQ'); ?><br>
        邮箱：<?php echo C('SERVICE_EMAIL')?> <small>（如果你看到的是“#”请在发邮件时替换成“@”）</small><br>
        地址：天津市河东区十一经路万隆太平洋大厦
    </p>
    <a target="_blank" href="<?php echo U('Site/Index/index', '', true, true)?>" style="color:#4c8cc1; text-decoration: none;">酷客会签-为社团而生</a>
</div>