<div class="row">

    <div class="col-sm-12 col-lg-10 col-lg-offset-1">
        <!-- <button type="button" class="btn btn-success pull-right" style="margin-bottom:10px"><i class="fa fa-refresh"></i> 刷新列表</button> -->
        <h3> 正在进行</h3>
        <a class="btn btn-success pull-right" style="margin-bottom:10px"  href="javascript:document.location.reload()"><i class="fa fa-refresh"></i>刷新列表</a>
        
        <?php if(empty($list)):?>
            <h3 style="margin-top:30px;">暂无数据</h3>
        <?php endif; ?>
        <?php foreach($list as $l): ?>
            <div class="item">
                <div class="item-header">
                    <?php if($l['start_time'] > time() && $l['status'] == 1):?>
                        <span class="act-begin"><i class="fa fa-star-o"></i> 活动即将开始</span>
                    <?php endif; ?>
                    <?php if($l['status'] == 1 && $l['start_time'] < time()):?>
                        <span class="act-in"><i class="fa fa-star-half-o"></i> 活动中</span>
                    <?php endif; ?>
<!--                    <span class="act-end"><i class="fa fa-star"></i> 已签到</span>-->
                    <span class="act-right">发布时间：<?php echo date('Y-m-d H:i', $l['published_at']); ?></span>
                </div>
                <div class="item-content">
                    <div class="row">
                        <div class="col-xs-7 col-sm-8 col-md-9">
                            <div class="item-title"><?php echo $l['name']?></div>
                            <div class="item-title-sm">
                                活动时间：<?php echo date('Y-m-d H:i', $l['start_time']); ?> ~ <?php echo date('Y-m-d H:i', $l['end_time']); ?>
                                <br>活动地点：<?php echo $l['areaid_1_name'].' '.$l['areaid_2_name'].' '.$l['address']; ?>
                            </div>
                        </div>
<!--                        <div class="col-xs-5 col-sm-4 col-md-3">-->
<!--                            <div class="countdown text-center">00:28:13</div>-->
<!--                            <div class="item-title-sm text-center">活动倒计时</div>-->
<!--                        </div>-->
                    </div>
                    <div class="row btn-mrgin">
                        <div class="col-xs-12">
                            <div class="btn func-btn func-btn-f" onclick="location.href='<?php echo U('Index/user_list', array('aid' => $l['aid']))?>'; ">
                                <i class="fa fa-list-alt"></i>报名表</div>
                            <div class="btn func-btn func-btn-s" onclick="location.href='<?php echo U('Signin/signin_chart', array('aid' => $l['aid']))?>'; ">
                                <i class="fa fa-bar-chart"></i>查看签到统计</div>
                            <div class="btn func-btn func-btn-c" onclick="location.href='<?php echo U('Signin/signin', array('aid' => $l['aid']))?>'; ">
                                <i class="fa fa-pencil-square-o"></i>进行签到</div>
                        </div>
                    </div>
                </div>
                <!-- {$page} -->
            </div>

        <?php endforeach; ?>
        <?php echo $page;?>
    </div>
    
</div>