<dl>
  <dt>品牌介绍</dt>
  <dd>会签助手是一个专业的，集活动发布、活动管理、签到检票、数据分析于一体的管理平台。</dd>
  <dd>隶属于天津云脉三六五科技有限公司。公司创办于2014年，总部位于天津，公司致力于会议产业，依托互联网及移动技术，以提升会议品质与效率为公司使命，通过PC与移动端，帮助用户真正实现会议更轻松、更高效、更成功。</dd>
  <dt class="mt20">产品介绍</dt>
  <dd>会签助手为主办方提供一站式数字会务：用户只要注册，就可轻松实现活动发布、报名注册、支付、电子票、电子签到、数据的统计分析等全流程的数字化。基于数据将产品之间横向打通，将数据的价值更加充分发挥和运用，帮助活动举办者更加精细化的运营。</dd>
  <dt class="mt20">员工团队</dt>
  <dd>我们大多为80后、90后年轻人，身体健康、心态阳光、热爱生活、个性张扬、积极主动、诚信负责，“诚信、创新、专业、高效”是我们对内对外的协作与服务原则。</dd>
  <dt class="mt10"></dt>
  <dd>一路走来，会签助手一直以深度服务为已任，为实现产业的互联网化、移动化、数字化贡献所有力量！</dd>
</dl>