<form class="form-horizontal" role="form" id="regorg" method="post" action="<?php echo U('About/opinion', array()) ?>">
  <div class="form-group">
    <div class="col-xs-11">
      <input class="form-control" type="text" name="email" class="email" placeholder="邮箱（必填）" value="">
    </div>
    <div class="col-sm-11 error_prompt tishinr"></div>
  </div>
  <div class="form-group">
    <div class="col-xs-11">
      <textarea class="form-control" rows="5" name="content"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-save">提交</button>
</form>