<!-- <div><h3><strong><?php echo L('_ADVICE_MAN_')?></strong></h3></div> -->
<h4><b>PHP Development Engineer</b></h4>
<h5><b>岗位描述：</b></h5>
<ol>
  <li>配合公司产品开发WEB管理系统</li>
  <li>能够独立使用开源MVC框架完成整个管理系统。并实现多浏览器兼容</li>
  <li>参与数据库，WEB管理系统UI设计并能给出意见</li>
  <li>具备良好的沟通能力，团队协作能力</li>
</ol>
<h5><b>岗位要求：</b></h5>
<ol>
  <li>计算机或相关专业大学专科以上学历</li>
  <li>两年以上PHP开发经验，能够独立编写中等规模PHP程序</li>
  <li>精通PHP+MYSQL编程，熟练使用XHTML、HTML、XML、javascript（JQ）以及CSS编写</li>
  <li>需要具备良好的编码规范和编程风格;拥有良好的代码习惯，要求结构清晰，命名规范逻辑性强， 代码冗余率低；代码风格严谨，程序流程思路清晰，技术文档习惯良好</li>
  <li>熟悉MYSQL数据库开发，配置、维护、性能优化。缓存框架使用</li>
</ol>
<h5><b>优先选项：</b></h5>
<ol>
  <li>熟悉常用的开源代码等二次开发者优先</li>
  <li>熟悉Linux Server相关配置者优先</li>
  <li>熟悉MVC模式，熟悉开源框架者优先，例如thinkphp,YII</li>
  <li>有作品者优先（面试请带作品）</li>
</ol>
<div class="page-header">
</div>
<h4><b>Ios Development Engineer</b></h4>
<h5><b>岗位描述：</b></h5>
<ol>
  <li>根据业务需求，负责 IOS应用程序的设计、开发工作；验证和和修正测试中发现的问题</li>
  <li>独立完成客户端软件需求的整理和软件设计</li>
  <li>产品发布后，负责产品的支撑及版本迭代工作</li>
  <li>参与移动平台软件框架的研究，设计和实现、关键技术验证和选型等工作</li>
  <li>参与移动规范制订、技术文档编写</li>
  <li>熟悉iOS界面开发规范及AppStore上架流程和规则</li>
  <li>负责现有产品的优化及其版本升级</li>
  <li>能够独立思考，配合美工及设计人员提高用户体验</li>
</ol>
<h5><b>岗位要求：</b></h5>
<ol>
  <li>计算机相关专业，大专及以上学历，两年年以上的工作经验</li>
  <li>有扎实的算法基础，面向对象程序设计经验</li>
  <li>熟练掌握Objective-c语言，一年以上IOS开发经验</li>
  <li>深刻理解IOS的MVC结构，掌握UI编写、动态效果编写、后台任务、异步多线程处理、数据存储、网络通信等的原理，熟悉http、tcp/ip协议、json/xml通信格式</li>
  <li>熟练使用XCode、Instrument、CocoaPods等开发工具</li>
  <li>懂svn/git，有团队开发经验</li>
  <li>有APPSTORE上架作品的优先</li>
  <li>有github开源作品，有个人技术博客者优先；有IM、语音识别方面开发经验者优先</li>
</ol>
<div class="page-header">
</div>
<h4><b>Android Development Engineer</b></h4>
<h5><b>岗位描述：</b></h5>
<ol>
  <li>负责移动产品Android版客户端软件开发</li>
  <li>可独立完成客户端软件需求的整理和软件设计</li>
  <li>能独立设计技术方案并实现具体模块、流程逻辑</li>
  <li>日常工作包括手机软件系统设计、开发、单元测试、维护以及编写文档</li>
</ol>
<h5><b>岗位要求：</b></h5>
<ol>
  <li>计算机或相关专业大学专科以上学历</li>
  <li>三年以上Java开发经验且两年以上Android软件开发经验</li>
  <li>精通面向对象编程、多线程、网络等相关编程技术</li>
  <li>熟悉Android SDK，熟悉Android下网络通信机制，理解Android的体系结构，对Android内存与性能优化有较深刻的理解</li>
  <li>熟悉Android的界面定制并能精确的实现美工界面设计稿及相配套的功能要求，能熟练的自定义Android界面组件</li>
  <li>熟悉Android下的数据存储，熟悉Android多媒体框架，熟悉XML，http，TCP/IP，SOCKET等技术/协议</li>
</ol>
<h5><b>优先选项：</b></h5>
<ol>
  <li>有社交IM类软件目经验开发者优先</li>
  <li>能够使用Axure进行手机应用原型设计者优先</li>
  <li>有Server端开发经验者优先</li>
  <li>有作品者优先（面试请带作品）</li>
</ol>