<div class="col-sm-3 col-sm-offset-0 col-lg-2 col-lg-offset-1 mt20">
    <div class="left-bar-lg">
        <a class="<?php echo $title=='关于我们' ? 'active' : '' ?>" href="<?php echo U('About/about')?>">关于我们</a>
        <a class="<?php echo $title=='招贤纳士' ? 'active' : '' ?>" href="<?php echo U('About/recruiting')?>">招贤纳士</a>
        <a class="<?php echo $title=='联系我们' ? 'active' : '' ?>" href="<?php echo U('About/contact')?>">联系我们</a>
        <a class="<?php echo $title=='意见反馈' ? 'active' : '' ?>" href="<?php echo U('About/feedback')?>">意见反馈</a>
    </div>
</div>