<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>联系我们</p>
        <span class="connect_way">电话：022-84180365<span class="QQN">QQ：550022365</span>
        <span class="work_time">周一至周五  9:00 - 18:00</span></span>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 home_footer_left text-center">
          <a href="<?php echo U('About/about')?>">关于我们</a>
          <a href="<?php echo U('About/recruiting')?>">招贤纳士</a>
          <a href="<?php echo U('About/contact')?>">联系我们</a>
          <a href="<?php echo U('Home/User/download');?>">下载中心</a>
          <a href="<?php echo U('Home/Help/index','',true,true)?>">帮助中心</a>
          <a href="<?php echo U('About/feedback')?>">意见反馈</a>
        </div>
    </div>
    <div class="col-sm-12">
        © 会签助手  津ICP备11001221号-7
        <p>当前<?php echo C('VERSION_NUMBER');?></p>
    </div>
  </div>
</footer>