<input id="msg_order" value="<?php echo $msg ? 1 : 0;?>" type="hidden"/>
<input id="msg_order_url" value="<?php echo U('Home/Information/wallet');?>" type="hidden"/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <include file="Public:_page_header" />
      <div class="col-md-12">
        <div class="pay-success">
          <div class="pay-success-main">
            <i class="fa fa-check-circle-o fa-3x"></i>
            <p class="success">您已成功支付</p>
            <!--<p class="prompt">充值额度将在您完成支付后1小时内自动到账，请您注意查看您的余额</p>-->
            <p>订单号：<?php echo $order['order_id'];?></p>
            <p>商品名称：<span class="name"><?php echo $order['title'];?></span>
            <br>付款金额：<span class="amount"><?php echo yuan_to_fen($order['money'], false);?> </span>元</p>
          </div>
          <div class="pay-success-other">
            <?php if($trade_url):?>
            <a href="<?php echo $trade_url;?>">查看交易详情</a>
            <?php endif;?>
            <a href="<?php echo U('Home/Information/index');?>">返回我的主页</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
