/* * CT: 2015-08-25 17:50 by Hank*/
/* * LT: 2015-10-23 09:50 by Hank*/

body {
  background-color: #fff;
  font-family: "PingHei", "PingFang SC","Helvetica Neue",Helvetica,"STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  margin: 0;
  word-wrap:break-word;
}
@media (min-width: 768px) {
  body {
    background-color: #282828;
  }
}
a,
a:hover,
a:focus { outline: none;text-decoration: none;}
img { max-width:100% !important;}
input,textarea{-webkit-appearance: none;}
/*! 报名 */
.postersimg { width: 100%;}
.col-regist {
  margin-top: 10px;
  margin-left: 8px;
  padding: 10px 0;
  max-width: 100%;
  font-size: 14px;
  vertical-align: middle;
  line-height: 25px;
  color: #666;
  border-top: 1px solid #ececec;
}
.col-regist > img {margin-right: 7px; width: 25px; height: 25px;}
.td-wd {
  position: relative;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.organizers {
  position: relative;
  margin-bottom: 10px;
  padding-left: 100px;
  width: 100%;
}
.organizers div:nth-of-type(1) {
  position: absolute;
  margin-left: -100px;
  width: 100px;
  text-align: right;
}
.organizers div:nth-of-type(2) {
  position: relative;
  width: 100%;
}

.pwd-position {
  float: right;
  margin-right: 20px;
  margin-bottom: 25px;
  font-size: 14px;
}
/*.tishinr { color: #d9534f;}
.tishinr.tishinr-success { color: #5cb85c;}*/
.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  background-color: #fff;
  font-size: 16px;
  word-wrap: break-word;
  overflow: hidden;
}
@media (min-width: 768px) {
  .wrapper {
    width: 740px;
    padding: 10px;
  }
}
.header {
  padding: 8px 0;
  color: #666;
  border-bottom: 1px solid #f1f1f1;
}
.header img { margin-bottom: 4px; width: 94px;height: auto; }/*logo*/
/*登录按钮*/
.header a {
  float: right;
  display: in-block;
  padding: 2px 20px 8px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  color: #666;
  white-space: nowrap;
}
.header a:hover {
  color: #f3a118;
  text-decoration: none;
  outline: none;
}
.header .mr15 { margin-right: 15px;}
/*大标题*/
.title {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 20px -5px 10px;
  font-size: 21px;
}
.title.text-center { margin: 10px 0;}
.author { color: #7394e7;}
.author span { color: #999;}
/*报名按钮*/
.btn-position {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
@media (min-width: 768px) {
  .btn-position {
    margin-left: -10px;
    width: 740px;
  }
}
/*按钮点击焦点*/
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
/*底部按钮*/
.btn-position .btn {
  margin-top: 5px;
  background-image: none;
  color: #fff;
  border-radius: 0;
  border: 0;
  padding: 16px;
}

.btn-signcheck {
  background-color: rgba(77, 195, 77, .95);
}
.btn-signcheck:hover,
.btn-signcheck:focus,
.btn-signcheck:active,
.btn-signcheck.active {
  background-color: rgba(54, 169, 54, 1);
}
.btn-signup {
  background-color: rgba(243, 161, 24, .95);
}
.btn-signup:hover,
.btn-signup:focus,
.btn-signup:active,
.btn-signup.active {
  background-color: rgba(236, 148, 0, 1);
}
.btn-signfull {
  background-color: rgba(225, 65, 60, .95);
}
.input-error {
  display: block; margin: 5px; min-height: 10px; color: #ff4317;
}
/*.org_verify {*/
  /*color: #ccc;*/
  /*width: 100%;*/
  /*height: 46px;*/
  /*font-size: 16px;*/
  /*background-color: rgba(206, 43, 39, 1);*/
/*}*/
.btn-signfull:hover,
.btn-signfull:focus,
.btn-signfull:active,
.btn-signfull.active {
  background-color: rgba(206, 43, 39, 1);
}
/*底部版权*/
.foot-copyright {
  margin: 15px auto 80px;
  font-size: 14px;
  color: #999;
  text-align: center;
}
/*注册登录完善信息*/
.wrapper-signin { margin: 0 -15px; padding: 15px 30px; background-color: #f2f2f2;}
@media (min-width: 768px) {
  .wrapper-signin { margin: 0 -25px; padding: 15px 150px;}
}
.wrapper-signin h2 { font-size: 20px; font-weight: 800; text-align: center;}
.wrapper-signin .form-control {margin-top: 15px;}


/*输入框*/
.form-control {
  display: block;
  width: 100%;
  height: 46px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #d9dde5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #0098ff;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
          box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(0,0,0,0);
}
.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ccc;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
}
.btn-submit {
  margin: 30px 0;
  padding: 12px;
  color: #fff;
  background-color: #0098ff;
  border-radius: 3px;
}
.btn-submit:hover,
.btn-submit:focus {
  color: #fff;
  background-color: #2198e8;
}
.btn-submit.disabled,
.btn-submit[disabled],
fieldset[disabled] .btn-submit,
.btn-submit.disabled:hover,
.btn-submit[disabled]:hover,
fieldset[disabled] .btn-submit:hover,
.btn-submit.disabled:focus,
.btn-submit[disabled]:focus,
fieldset[disabled] .btn-submit:focus,
.btn-submit.disabled:active,
.btn-submit[disabled]:active,
fieldset[disabled] .btn-submit:active,
.btn-submit.disabled.active,
.btn-submit[disabled].active,
fieldset[disabled] .btn-submit.active {
  background-color: #428bca;
}
.check-code { margin-top: 15px; padding-left: 120px;}
.check-code .form-control{
  position: absolute;
  display: inline-block;
  margin: 0;
  margin-left: -120px;
  width: 110px;
  vertical-align: middle;
}
.check-code .btn-submit {
  display: inline-block;
  margin: 0;
  width: 100%;
  vertical-align: middle;
}
/*报名表*/
.error-position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
@media (min-width: 768px) {
  .error-position {
    margin-left: -10px;
    width: 740px;
  }
}
.error-position .alert {
  color: #a94442;
  background-color: rgba(238, 211, 211, .95);
  border-color: #ebccd1;
  border: 1px solid transparent;
  border-radius: 0;
}
#wrapper-form { margin: 0 -15px; padding: 15px 20px; background-color: #f2f2f2;}
@media (min-width: 768px) {
  #wrapper-form { margin: 0 -25px; padding: 15px 150px;}
}
#wrapper-form label span {
  vertical-align: -5px;
  font-size: 18px;
  line-height: 12px;
  color: #e1413c;
}
#wrapper-form .form-group {margin: 15px 0 0;}
#wrapper-form .form-control {font-size: 14px;}
#wrapper-form .f2 { color: #b8bcbe;}
#wrapper-form .radio,
#wrapper-form .checkbox {
  position: relative;
  padding: 10px 0 10px 10px;
}
/*单选多选*/
.iradio_flat-green,
.icheckbox_flat-green {
  position: absolute;
  top: 12px;
  left: 0;
}
/*报名表答案*/
#wrapper-table { margin: 0 -15px; padding: 15px 20px; background-color: #f2f2f2; font-size: 14px;}
@media (min-width: 768px) {
  #wrapper-table { margin: 0 -25px; padding: 15px 150px;}
}
#wrapper-table label span {
  vertical-align: -5px;
  font-size: 18px;
  line-height: 12px;
  color: #e1413c;
}
#wrapper-table .form-group {
  position: relative;
  margin: 15px 0 0;
}
#wrapper-table .f2,
#wrapper-table .form-group label { color: #666;}
#wrapper-table .form-group div { color: #888;}
#wrapper-table .form-group div { display: inline-block;}
.btn-cancel {
  margin: 30px 0;
  padding: 12px;
  color: #ea4800;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ea4800;
}
.btn-cancel:hover,
.btn-cancel:focus {
  color: #e33d1c;
  background-color: #fff;
  border-color: #e33d1c;
}
/*购票支付成功失败*/
.paystatus {
  background-color: #edeef3;
}

.state { padding: 50px 10px; min-height: 160px; font-size: 24px; color: #fff; text-align: center;}

.state-bg-suc { background-color: #33cdb2;}
.state-bg-fail { background-color: #ff9817;}
.state > img { margin-bottom: 5px; width: 50px; height: 50px;}

.details {
  padding: 10px;
  font-size: 16px;
  color: #666;
  text-align: center;
  border-bottom: 1px solid #e0e1e5;
}
.details-main {
  display: table;
  padding: 15px 30px;
  width: 100%;
  background-color: #edeef3;
  color: #888;
}
.details-main > p > span.name { color: #57b6f3;}
.details-main > p > span.amount { color: #ff9817;}
.details-main .prompt { margin-bottom: 20px; font-size: 12px;}
.details-main .btn-default { margin-top: 80px; padding: 12px; border-color: #c5c5da;}
.details-main .last { margin: 20px 15px; font-size: 14px; text-align: center;}
.lock_e{
  float:right;
  margin-top:-29px;
  margin-right:15px;
}
