#elf-nav { position: absolute;}
.act-review{
	padding-top: 120px;
	height: 900px;
	background-color: #f5f5f5;
}
.carousel-iphone{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 83px 21px 82px 24px;
	width: 360px;
	height: 685px;
	background: url('../images/iphone.png') no-repeat;
}
.carousel-iphone iframe {
	width: 100%;
	height: 100%;
}
.header-back {
  float: right;
  margin-right: 15px;
}
.cod-act-pre {
	position: absolute;
	top: 170px;
	left: 50%;
	margin-left: 200px;
  max-width: 180px;
  text-align: center;
  color: #666;
}
.cod-act-pre img {
	display: block;
	margin-bottom: 10px;
	max-width: 140px;
	text-align: center;
}
/*支付成功*/
.pay-success {
	position: relative;
	padding: 30px;
	background-color: #fff;
	width: 100%;
	min-height: 260px;
	border: 1px solid #dee2e9;
	border-radius: 4px;
}
.pay-success-main { position: relative; padding-left: 50px; padding-bottom: 10px;}
.pay-success-main .fa-check-circle-o { position: absolute; top: 0; left: 0; color: #54ad73;}
.pay-success-main .fa-times-circle-o { position: absolute; top: 0; left: 0; color: #ff8b12;}
.pay-success-main p > span.name { color: #57b6f3;}
.pay-success-main p > span.amount { color: #ff9817;}
.pay-success-main .success{ font-size: 24px;}
.pay-success-other {
	padding-top: 20px;
	padding-left: 50px;
	border-top: 1px dashed #ccc;
}
.pay-success-other a { margin-right: 15px;}